---
layout: default
---

<header>
  <h1>ilimei blog</h1>
</header>

<section id="downloads" class="clearfix">
  <a href="https://github.com/ilimei/ilimei.github.io" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

<section id="main_content">

{% for post in paginator.posts %}
    <h3>
      <a id="welcome-to-github-pages" 
          class="anchor" href="{{ post.url }}" 
          aria-hidden="true">
        <span aria-hidden="true" 
              class="octicon octicon-link">{{ post.title }}</span>
      </a>
    </h3>
    <p>{{ post.desc }}</p>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
  <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <em>{{ page }}</em>
  {% elsif page == 1 %}
  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</section>
