 <footer>
 	<p>Friends:</p>
 	{% for friend in site.data.friends %}
		<a href="{{ friend.url }}">{{ friend.name }}</a>
 	{% endfor %}
 	<p><a href="/sitemap.xml">站点地图</a></p>
    <p>辽ICP备16004971号</p>
 </footer>
 <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
