 <footer>
 	<p>Friends:</p>
 	{% for friend in site.data.friends %}
		<a href="{{ friend.url }}">{{ friend.name }}</a>
 	{% endfor %}
 	<p><a href="/sitemap.xml">站点地图</a></p>
    <div style="width:350px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21020402000219" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="./images/ba.jpg" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">辽ICP备16004971号 辽公网安备 21020402000219号</p></a>
    </div>
 </footer>
 <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
